<h1>About Cubicle</h1>
<div class="about">
  <p>
    <i>"Cube App"</i> is a place where you can browse some of the most popular rubik's cubes in the world and add
    some new cubes that you have discovered. This application was created as an exercise for the JS Back-End module of the <a
      href="https://kingslanduniversity.com/full-stack-developer-program/" target="_blank">Full Stack Developer Program</a> at
    <a href="https://kingslanduniversity.com" target="_blank">Kingsland University</a>.<br>
    <img class="ku_logo" src="https://mma.prnewswire.com/media/1373118/Kingsland_University_Logo.jpg?p=facebook"></p>
    
</div>
