<h1>{{accessory.name}}</h1>
<img class="cube" src={{accessory.imageUrl}}>
<div class="details">
  <p><span>Description:</span> {{accessory.description}}</p>
  <a class="btn" href="/create/accessory">Back</a>
</div>

